.clearfix {
  overflow: auto;
}

body {
  font-family: 'Permanent Marker', cursive;
}

.container {
  text-align: center;
  margin: 5% 5%;
}

#knock-knock,
#who,
#punch-line {
  background-color: rgb(236, 199, 163);
  margin-top: 0;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 10px;
}

h2 {
  font-size: 50px;
  margin-top: 0;
}

button {
  border-radius: 10px;
  border: none;
  padding: 2% 2%;
  color: rgb(255, 255, 255);
  background-color: rgb(222, 147, 45);
  box-shadow: 3px 3px 3px rgba(105, 51, 13, 0.4);
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
}

img {
  align-content: center;
  width: 100%;
}
