@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.clearfix {
  overflow: auto;
}

body {
  font-family: 'Permanent Marker', cursive;
}

.container {
  text-align: center;
  background-color: rgb(236, 199, 163);
  margin: 30% 5%;
}

.joke {
  margin: 5% auto;
}

.joke h2 {
  margin: 5% auto;
}

.joke-button {
  font-family: 'Permanent Marker', cursive;
  margin: 0 auto;
  padding: 2% 2%;
  border-radius: 10px;
  background-color: white;
  font-size: 30px;
}
